h1 {
  font-weight: 500;
  font-size: @font-size-h1;
  line-height: 1.6em;
  color: #9900ff;
  background-color: #ffffff;
}

h2 {
  font-weight: 500;
  font-size: @font-size-h2;
  line-height: 1.6em;
  color: #000;
  background-color: #ffffff;
}

h3 {
  font-weight: 600;
  font-size: @font-size-h3;
  line-height: 1.6em;
  color: #000;
  background-color: #ffffff;
}

h4 {
  font-weight: 800;
  font-size: @font-size-h4;
  text-transform: uppercase;
  line-height: 1.6em;
  color: #9900ff;
  background-color: #ffffff;
}

body {           
  font-size: 14px;
  line-height: 1.6em;
  color: #555;
  background-color: #fff;
  text-rendering: optimizeLegibility; 
} 

figure, figcaption {   
  display: block;
  font-weight: 700;
  color: #08109f;
  font-size: small;
}       
                                    
.btn-default, .btn-default.active {
  border: 3px solid #9900ff;
  border-radius: 50px;   
  font-size: .7em;
  letter-spacing: 2em;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;

  &:hover{
  background: transparent;
  color: #9900ff;
}
}

.global-link {
	font-weight: 600;
	color: #08109f;
	text-decoration: none;     
}

a {      
	.global-link;

	&:hover {
	color: #08109f;          
	text-decoration: none;
	border-bottom: 3px solid #08109f;
	}
}

p {
  font-family: "Helvetica Neue", Arial, sans-serif; 
}

.page-header{
  border-bottom: none;
  margin-top: 18px;
  margin-bottom: 10px;
}    

// Section links
#block-menu-block-1 {
  .block-title {
    .sr-only;
  }
  .navbar {
  min-height: 45px;
  margin-bottom: 14px;
  border-bottom: 1px solid #000;
  }
  .navbar-nav {
  padding-left: 0px;

    li > a {
    margin-right: 25px;

    &:hover {
      background-color: #fff;
      text-decoration: none;
      border-bottom: 5px solid #9900ff;

    &:focus 
    &:active {
      background-color: #fff;
      border-bottom: 5px solid #9900ff;
      color: #9900ff;
    }
      }
    }
  }
}
         
// Breadcrumbs
.breadcrumb {
  margin-top: 7px;
  background: inherit;
  color: inherit;
  padding: 0;

  li:nth-child(1) {
    a:hover {
      color: #9900ff;
      text-decoration: none;
    }
  }

  li:nth-child(2) {
    display: block;
    padding-top: 10px;
    .h1;
    .page-header;
    padding-top: 3px;
    padding-bottom: 0px;
    font-weight: 500;
    color: #9900ff;

    a:link,
    a:visited,
    a:active,
    a:hover {
      font-weight: 500;
      color: #9900ff;
    }
  }
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5),
  li:nth-child(6) {
    .sr-only;
  }
  > active {
    // todo
  }
  > li + li:before {
    content: "";
    padding: 0;
  }
}

// Sponsored projects page
.sponsoredprojects {
  .projects {
    .row div {
      min-height: 200px;
      a {
        background: black url('../images/bottom right corner white right triangle.png') bottom right no-repeat;
        font-weight: 600;
        font-size: 25px;
        line-height: 1.2em;
        color: white;
        overflow: hidden;
        display: block;
        width: 100%;
        height: 260px;
        margin-bottom: 30px;
        padding: 20px;
        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}

.node-type-news-item {
  .term-image {
    float: left;
  }
  .byline,
  .page-header {
    margin-left: 120px;
  }
}
