.footer-wrapper{
    background: #000;
}
.footer {
    background: #000;
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    border-top:1px solid #000;
    section {
        display: inline-block;
        float: left;
    }
}
#boxes-box-footer_logo {
    img{
        width: 210px;
    }
    span{
    color: #fff;
    width: 220px;
    float: right;
    font-size: 18px;
    margin-top: 14px;
    border-left: solid 2px #fff;
    padding-left: 25px;
    }
}

#block-boxes-footer-sociallinks,
#boxes-box-footer_sociallinks {
    clear: both;
    padding-top: 0px;
    margin-top: 10px;
    a {
        display: inline-block;
        text-indent: -666em;
        overflow: hidden;
        height: 20px;
        width: 26px;
        background: white url(../images/AMP_socialmedia.png) 0 0 no-repeat;
        &:hover {
            background-position: 0 -24px;
        }
    }
    .twitter {
        background-position: -25px 0;
        &:hover {
            background-position: -25px -24px;
        }
    }
    .tumblr {
        background-position: -57px 0;
        &:hover {
            background-position: -57px -24px;
        }
    }
    .youtube {
        background-position: -84px 0;
        &:hover {
            background-position: -84px -24px;
        }
    }
    .vimeo {
        background-position: -117px 0;
        &:hover {
            background-position: -117px -24px;
        }
    }
    .flickr {
        background-position: -150px 0;
        &:hover {
            background-position: -150px -24px;
        }
    }
    .instagram {
        background-position: -184px 0;
        &:hover {
            background-position: -184px -24px;
        }
    }
}