.footer {
  margin-top: 45px;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  border-top: 4px solid #000;

p {
	color: #000;
	text-transform: uppercase;
	font-family: @font-family-sans-serif;
	font-size: @font-size-small;
	font-weight: 800;
}

  #block-boxes-impressum {
    display: inline-block;
  }

  #block-delta-blocks-site-name {
    float: right;
    .site-name {
      margin-top: 0;
      font-size: @font-size-small;
      text-transform: uppercase;
      a {
        font-weight: 800;
      }
    }
  }
}
