@media @normal {
  #navbar {
    border: 0px;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;

    nav {
      font-weight: 600;
      font-size: 11px;
      color: #000;
    }
    .navbar-nav > li > a,
    .navbar-nav > li > span {
      padding-top: 29px;
      line-height: 13px;
      max-width: 11em;
      min-height: 6em;
      text-transform: uppercase;

      &:hover {
        background-color: @component-active-bg;
        border-bottom: 5px solid #9900ff;
      }
      &:active {
        background-color: @component-active-bg;
        color: @component-active-color;
        border-bottom: 5px solid #9900ff;
      }
    }
    .navbar-nav > .open > a,
    .navbar-nav > .open > a:active {
      background-color: #fff;
      color: @component-active-color;
      border-bottom: 5px solid #9900ff;
    }
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
      color: #9900ff;
      background-color: #fff;
    }
    .dropdown-menu > li > span {
      display: block;
      padding: 0px;
      clear: both;
      font-weight: 500;
      line-height: 1.42857143;
      color: #9d9d9d;
      font-size: 1em;
    }
    .dropdown-menu .dropdown-menu > li > a {
      font-weight: 600;
      color: #000;
      border-bottom: none;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
      text-decoration: none;
      color: @component-active-color;
      background-color: @component-active-bg;
      border-bottom: none;
    }
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
      color: @component-active-color;
      text-decoration: none;
      background-color: @component-active-bg;
      border-bottom: none;
    }
    .boxes-box-content {
      float: right;
      font-size: .75em;
      text-transform: uppercase;
      margin-left: 5px;

      a {
        font-family: "HalisGR", Helvetica Neue, Arial, sans-serif;
        color: #9900ff;
        margin-left: 10px;

        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }
    #block-search-form #edit-actions {
      margin-bottom: 0;
    }
  }
}

.fullwidth {
  width: 100%;
  border-bottom: 1px solid #000;
}

