#navbar {
  border: 0px;
  position: relative;
  margin-bottom: 0;

  nav {
    font-weight: 900;
    font-size: 12px;
    color: #000;
  }
  .navbar .container {
    margin-top: 0px;
  }
  .navbar-nav > li > a,
  .navbar-nav > li > span {
    padding-top: 22px;
    line-height: 13px;
    max-width: 11em;
    min-height: 6em;
    text-transform: uppercase;
  }
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:hover,
  .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #9900ff;
    border-bottom: 5px solid #9900ff;
  }
  .dropdown-menu > li > a {
    display: block;
    padding: 0px;
    clear: both;
    font-weight: 700;
    line-height: 1.42857143;
    color: #8e8e8e;
    font-size: @font-size-small;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #000;
    background-color: #fff;
  }
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #9900ff;
    text-decoration: none;
    background-color: #fff;
  }

  #block-search-form #edit-actions {
    margin-bottom: 0;
  }

}

.fullwidth {
  width: 100%;
  border-bottom: 1px solid #000;
}

