.navbar-default .navbar-nav > li > span {
  padding-top: 40px;
}

.grandparent {
  .dropdown-menu {
    display: block;
    position: relative;
    width: 16em;
    padding: 18px;
    border: none;
    border-radius: 0;
    background: none;
    .box-shadow(0 0 0 white);
    > li > a {
      padding: 0;
      white-space: normal;
    }
  }
  > li {
    width: 16em;
    float: left;
  }
}
