.mission-statement {
  font-size: 20px;
  color: #9900ff;
  padding-left: 12px;
  border-left: 2px solid #9900ff;
  }

.sidebar-news-block {
  background-color: #fff;
  padding-bottom: 10px;
  h2 {
    background-color: #fff;
    color: #9900ff;
    font-size: 13px;
	font-weight: 600;
	border: 3px solid #9900ff;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 2px;
  }
  h3 {
    background-color: #fff;
	font-size: 1.4em;
    line-height: 1.3em;
    margin-top: 10px;
    a {
      font-weight: 700;
      margin-bottom: 2px;

      &:hover {
        color: #9900ff;
        text-decoration: none;
      }
    }
  }
  	a {
	   font-size: .95em;
}
}

.view-project-news {
  article {
    color: #08109f;
    padding-bottom: 10px;
	margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #08109f;

    time {
	  font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      float: left;
      margin-right: 1em;
    }
  }
  .view-footer {
    margin-left: 5px;
    margin-top: 5px;
  }
  a {
	color: #08109f;
    font-weight: 600;
    text-decoration: none;

    &:hover {
    color: #9900ff;
    }
  }
}

.pane-views-amp-news-block-3 {
  .sidebar-news-block;
  .amp-news-block {
    .view-project-news;
  }
}

aside {
  margin-top: 15px;

  section {
    .sidebar-news-block;
  }
  #block-boxes-amp-list-signup,
  .pane-boxes-amp-list-signup {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #efd8ff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;

    h2 {
      margin-top: 10px;
      padding-left: 0px;
      background-color: #efd8ff;
	  border: 0px;
      color: #9900ff;
      font-size: 11px;
      font-weight: 700;
	  text-transform: uppercase;
    }
    .form-control {
      display: block;
      margin-bottom: 10px;
      background-color: #efd8ff;
      color: #9900ff;
      border: 1px solid #9900ff;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
      color: #efd8ff;
    }
  }
  #block-boxes-blog-addthis {
    display: none;
  }
}
