.mission-statement {
  font-size: 20px;
  color: @component-active-color;
  padding-left: 12px;
  border-left: 2px solid @component-active-color;
  margin-bottom: 0px;
}

.sidebar-news-block {
  background-color: @body-bg;
  padding-bottom: 10px;
  h2 {
    background-color: @body-bg;
    color: @component-active-color;
    font-size: 13px;
    font-weight: 600;
    border: 3px solid @component-active-color;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 2px;
  }
  h3 {
    background-color: @body-bg;
    font-size: 1.4em;
    line-height: 1.3em;
    margin-top: 10px;
    a {
      font-weight: 700;
      margin-bottom: 2px;

      &:hover {
        text-decoration: none;
        border-bottom: 3px solid @component-active-color;
      }
    }
  }
  a {
	  font-size: .95em;
  }
}

.view-project-news {
  article {
    .secondary-sidebar-mp;
    color: @purple-dark;
    padding-bottom: 10px;
    border-bottom: 1px solid @purple-dark;

    time {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      float: left;
      margin-right: 1em;
      color: @purple-dark;
    }
    figure {
      float: left;
    }
    h3 {
      background-color: @body-bg;
      font-size: 1.4em;
      line-height: 1.3em;
      margin-top: 10px;
      a {
        color: @purple-dark;
        font-weight: 700;
        margin-bottom: 2px;

        &:hover {
          text-decoration: none;
          border-bottom: 3px solid @purple-dark;
        }
      }
    }
  }
  .view-footer {
    .secondary-sidebar-mp;
    margin-top: 5px;
  }
  a {
    color: @purple-dark;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: @purple-dark;
    }
  }
}

.pane-views-amp-news-block-3 {
  .sidebar-news-block;
  .amp-news-block {
    .view-project-news;
  }
}

aside {
  margin-top: 15px;

  h2.block-title {
    .secondary-sidebar-mp;
  }

  section {
    .sidebar-news-block;
  }
  #block-boxes-amp-list-signup,
  .pane-boxes-amp-list-signup,
  .small-box .boxes-box{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 10px;
    padding: 15px;
    background-color: @purple-lightest;
    h2 {
      margin: 0;
      padding-left: 0px;
      background-color: @purple-lightest;
      border: 0px;
      color: @brand-primary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .form-control{
      display: block;
      margin-bottom: 10px;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
      color: @purple-lightest;
    }
  }
  #block-boxes-blog-addthis {
    display: none;
  }

  .field-type-taxonomy-term-reference {
    .field-label {
      font-size: 1.3em;
      font-weight: 500;
      color: @component-active-color;
    }
    .field-items {
      a {
        display: inline-block;
        float: left;
        padding: 5px;
        margin: 3px;
        color: white;
        background-color: @component-active-color;
        font-weight: 600;

        &:hover {
          background-color: black;
          text-decoration: none;
        }
      }
    }
  }

  .block-cck-blocks {
    .secondary-sidebar-mp;
  }
}

.secondary-sidebar-mp {
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

#mc_embed_signup{
  input{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
        color: #ffffff;
    background-color: #000000;
    background-image: none;
    border: 1px solid #000000;
  }
  input:focus{
    border-color: #ffff00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,0,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,0,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,0,0.6);
  }

  input[type="submit"]{
        color: #ffffff;
    background-color: #000000;
    border-color: #000000;
        padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
        display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
  }
}
